html {
    background-image: url('../png/5570863.jpg');
    background-size: 100%;
}

body {
    width: 95%;
    margin: 0 auto;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 25px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color:#000000 ;
    margin: auto;
}
 .el_number_1 {
    color:#fafafa; 
    font-family: 'Arial', Times, serif; /* Гарнитура текста */ 
    font-size: 70%; /* Размер шрифта в процентах */ 
}
 
 .el_symbol_1 {
    color:#fafafa;
    font-family: 'Arial black', Times, serif; /* Гарнитура текста */ 
    font-size: 150%; /* Размер шрифта в процентах */ 
}
 
 .el_name_1 {
    color:#fafafa;
    font-family: 'Arial', Times, serif; /* Гарнитура текста */ 
    font-size: 60%; /* Размер шрифта в процентах */ 
    font-weight: bold;
}

.center {
    text-align: center
}

 .frame_0 {
    width: 90px;
    height: 75px;
}

 .frame_1 {
    width: 90px;
    height: 75px;
    background: #99c555; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_2 {
    width: 90px;
    height: 75px;
    background: #e75f5a; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_3 {
    width: 90px;
    height: 75px;
    background: #f19f4a; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_4 {
    width: 90px;
    height: 75px;
    background: #acbad1; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_5 {
    width: 90px;
    height: 75px;
    background: #eea29e; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_6 {
    width: 90px;
    height: 75px;
    background: #f8d349; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_7 {
    width: 90px;
    height: 75px;
    background: #7490c5; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_8 {
    width: 90px;
    height: 75px;
    background: #46a147; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_9 {
    width: 90px;
    height: 75px;
    background: #7cbfd8; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .frame_10 {
    width: 90px;
    height: 75px;
    background: #4dacc0; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 5px; /*Cкругляем углы*/
 }

 .video {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: block;
    text-align: center;
}

h3 {
    text-align: center;
}

.description {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial', Times, serif;
    font-size: 70%;
    text-align: center;
}